/* bases */
*	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html	{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	height: 100%;
}
body	{
	background: #FFF;
	color: #000;
	line-height: 1;
	min-height: 100%;
}
body::before,
body::after,
.floor::after	{
	content: " ";
	display: table;
}
body::after,
.floor::after	{
	clear: both;
}




/* generique */
html, body, h1, h2, p, form, input,
table, caption, tbody, tfoot, thead, tr, th, td,
ul, li	{
	margin: 0;
	padding: 0;
}
ul, li	{
	list-style: none;
}
span,
a	{
	vertical-align: baseline;
}
address	{
	display: inline;
}
input,
button,
select,
optgroup	{
	color: inherit;
	font: inherit;
	font-size: 100%;
}
label,
input	{
	vertical-align: middle;
}
input[type="checkbox"],
input[type="radio"]	{
	box-sizing: border-box;
	padding: 0;
}
button	{
	overflow: visible;
	margin: 0 !important;
}
button, select	{
	text-transform: none;
}
button, input	{
	line-height: normal;
}
button, html input[type="button"],
input[type="reset"], input[type="submit"]	{
	-webkit-appearance: button;
}
button::-moz-focus-inner, input::-moz-focus-inner	{
	border: 0;
	padding: 0;
}

select	{
	font-size: .9em;
}



