/* apparence au chargement */
body.prinit footer,
body.prinit header *,
body.prinit form *,
body.prinit form .interaction *	{
	visibility: hidden;
}
body.prinit header h1,
body.prinit header h1 span,
body.prinit form .interaction,
body.prinit form .interaction .essence,
body.prinit form .interaction .essence *	{
	visibility: visible;
}


/* communs */
a	{
	background: transparent;
	color: #000;
	text-decoration: underline;
}
a:focus	{
	outline: thin dotted;
	text-decoration: none;
}
a:active,
a:hover	{
	outline: 0;
	text-decoration: none;
}
h1,
p,
form + div	{
	line-height: 1.6;
}
p em	{
	display: inline-block;
}
body > header > h1	{
	background: #F5F5F5;
	font-family: Courier;
	font-size: 1.2em;
	font-weight: normal;
	padding-left: 1em;
}
h2	{
	background: #889;
	border-top: 2px solid #445;
	color: #FFF;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0 -1em;
	padding: .33em;
	text-align: center;
}
h2 span	{
	font-weight: bold;
}

header	{
	background: #FFF;
	border-bottom: 2px solid #F0F0F0;
	position: relative;
	z-index: 2;
}
header p,
header p a	{
	color: rgba(68, 68, 85, .5);
	font-style: italic;
	text-align: center;
}
header p:hover,
header p:hover a,
header p a:focus,
#fichier.perso	{
	color: #000;
	font-style: normal;
}
form	{
	box-shadow: 0 -1em 1em #99A;
	font-family: Arial;
	padding: 0 1em;
	position: relative;
}
label	{
	cursor: pointer;
}
footer	{
	font-size: .85em;
	margin-top: 1em;
	padding: 1em 2em;
}




/* popin et éléments contextuels */
body.popin > form,
body.popin > footer	{
	pointer-events: none;
}
.message	{
	background: #445;
	border-radius: 1em;
	box-shadow: 0 0 0 100em rgba(68, 68, 85, .5);
	color: #FFF;
	cursor: pointer;
	left: 50%;
	margin-left: -22vw;
	padding: 3em;
	position: absolute;
	text-align: center;
	top: 10em;
	width: 44vw;
	z-index: 50000;
}
.message:only-child	{
	cursor: default;
}
.message em	{
	display: block;
	font-size: .85em;
	margin-top: 1.4em;
}
.message:focus	{
	outline: 0;
}

.fermeture	{
	bottom: 0;
	left: -4444em;
	position: absolute;
}
.fermeture:focus	{
	left: auto;
	right: .2em;
}

.message .fermeture:focus	{
	color: #FFF;
	outline: 0;
	right: 1em;
}






/* animation contextuelle */
/*.init #aideUtilisation,
.init #meta	{
	opacity: 0;
} */
#aideUtilisation,
#aideUtilisation p + p,
body:not(.init) #meta p	{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#aideUtilisation {
		-webkit-transition: none;
		transition: none;
	}
}
#aideUtilisation p:not(.incipit),
#meta h1,
#meta p	{
	opacity: 1;
	height: 4.3em;
	padding: .5em .3em 0 .66em;
}
#aideUtilisation.sans p:not(.incipit),
#meta.sans h1,
#meta.sans p	{
	height: 0;
	margin: 0;
	opacity: 0;
	padding-top: 0;
	pointer-events: none;
	width: 0;
}





/* structure */
.interaction	{
	min-height: 3em;
}
.essence	{
	float: left;
	width: 34%;
}
.presentations	{
	float: left;
	width: 66%;
}
.tdbord,
.presentation	{
	height: 2.9em;
	padding-top: .9em;
}


/* structure : "essence" */
.tdbord	{
	box-shadow: -.5em 0 #FFF, -1em 0 #99A;
}

.tdbord input	{
	margin-right: 2em;
}
/* structure : "essence" : analyse */
#meta	{
	box-shadow: 0 0 0 .5em #FFF, -.5em 0 .15em #445;
	background: -webkit-repeating-linear-gradient(0deg, #F8F8F8, #F8F8F8 2px, #FFF 2px, #FFF 7px);
	background: -moz-repeating-linear-gradient(0deg, #F8F8F8, #F8F8F8 2px, #FFF 2px, #FFF 7px);
	background: -o-repeating-linear-gradient(0deg, #F8F8F8, #F8F8F8 2px, #FFF 2px, #FFF 7px);
	background: repeating-linear-gradient(0deg, #F8F8F8, #F8F8F8 2px, #FFF 2px, #FFF 7px);
	font-size: .85em;
	white-space: pre;
}
#meta,
#meta label	{
	border-radius: 0 0 2em 0;
}
#meta.sans	{
	box-shadow: none;
}
#meta h1,
#meta p	{
	height: 3.1em;
	margin-bottom: .33em;
	padding: 0;
}
#meta h1	{
	color: #445;
	font-size: 1em;
	height: 1.6em;
}
#meta a	{
	background: #FFF;
	padding: 2px 6px;
	position: relative;
	text-decoration: none;
}
#meta a:nth-of-type(n+4)	{
	position: relative;
}
/* débordement */
/* #meta a:nth-of-type(n+4)::before	{
	box-shadow: 0 -1.2em #FFF, 0 1.2em #FFF;
	content: " ";
	height: 1.3em;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}*/
#meta a:focus	{
	text-decoration: underline;
}
#meta a:focus,
#meta a:hover	{
	background: #BBC;
	color: #FFF;
}
#meta a:focus	{
	background: #CBB;
}
#meta a.visiteur	{
	background: #99A;
	color: #FFF;
}
.consigne::before	{
	color: #000;
	content: "\25CB"; /* ○ */
	font-size: 1.3em;
	font-weight: bold;
	left: -.24em;
	position: absolute;
	top: .46em;
}
.visiteur.consigne::before	{
	color: #CCB;
	content: "\25CF"; /* ● */
}

#meta button	{
	background: transparent;
	border: 0;
	border-radius: 1em;
	color: #445;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	padding: 0;
}
#meta button span,
#meta button span	{
	border-radius: 1em;
	display: inline-block;
	padding: 0 .25em;
}
#meta button.visu span,
#meta button:focus span,
#meta button:hover span	{
	background: #778;
	color: #FFF;
}
#meta article	{
	display: none;
}
#meta article.visu	{
	display: block;
}
#meta .limite	{
	height: 4.4em;
	overflow-x: auto;
	width: 30em;
}
#meta label	{
	background: #F0F0FF;
	border-bottom: 1px solid #99A;
	display: block;
	line-height: 1.3;
	opacity: .6;
	padding-bottom: .2em;
	text-align: center;
}
#meta label:hover,
#meta label:focus	{
	opacity: .85;
}
#meta.sans label	{
	display: none;
}




/* structure : "presentations" */
.presentation	{
	box-shadow: .5em 0 #FFF, 1em 0 #99A;
	text-align: right;
}
/* structure : "presentations" : mode d'emploi */
#aideUtilisation,
.contribuer	{
	background: #445;
	box-shadow: -.05em 0 .05em #406, -4em 0 4em rgba(68, 0, 102, .15);
	color: #FFF;
}
#aideUtilisation	{
	border-radius: 5px;
	font-size: .9em;
	margin: 0;
	opacity: 1;
	padding: 1em 1em 3em 1em;
	position: relative;
	white-space: nowrap;
	width: 100%;
	z-index: 1;
}
#aideUtilisation:not(.sans) strong	{
	color: #E7E7FF;
	letter-spacing: 1px;
	font-weight: normal;
}
#aideUtilisation a	{
	color: #FFF;
}
#aideUtilisation input	{
	box-shadow: 0 0 .1em .3em #FFF;
}
#aideUtilisation.nulle,
.sans .discret	{
	display: none;
}
#aideUtilisation.sans	{
	background: #F0F0FF;
	border-bottom: 1px solid #99A;
	border-radius: 0 0 0 10em;
	box-shadow: none;
	font-size: .85em;
	margin: 0 0 1em 15%;
	opacity: .6;
	padding: .2em 0 .4em 0;
	text-align: center;
	width: 85%;
}
#aideUtilisation.sans:hover,
#aideUtilisation.sans:focus	{
	opacity: 1;
}
#aideUtilisation p:first-child	{
	padding: .5em .3em 0 .66em;
}
#aideUtilisation.sans p:first-child strong	{
	color: #000;
	font-weight: normal;
}
#mdemploi	{
	color: #FFF;
	font-size: 0;
	position: absolute;
	right: 0;
	top: -5em;
}
.sans #mdemploi	{
	color: #000;
	font-size: 1em;
	position: inherit;
}
#mdemploi:before	{
	background: #FFF;
	color: #445;
}
.sans #mdemploi:before	{
	background: transparent;
	content: "";
}
.pseudo-item	{
	text-indent: -1em;
}
#aideUtilisation .incipit em	{
	display: inline;
}
#aideUtilisation.sans .incipit em	{
	display: none;
}
#aideUtilisation p.outcipit	{
	height: 2.5em;
}



/* structure : "personnalisation" */
.modifier	{
	border-left: 1px solid #445;
	font-size: .85em;
	padding-left: 1em;
	position: absolute;
	right: 0;
	top: -4.2em;
	white-space: nowrap;
	z-index: 2;
}
#modifier	{
	cursor: pointer;
}
#aidePersonnalisation	{
	cursor: help;
	padding-right: .25em;
}
/* aide sur la personnalisation */
.contribuer	{
	border-radius: 1em;
	font-size: 1.15em;
	line-height: 2;
	padding: 1em;
	position: absolute;
	right: 0em;
	text-align: right;
	top: 2em;
	width: 32em;
	white-space: normal;
}
.contribuer a	{
	color: #FFF;
}
.contribuer .fermeture	{
	background: #FFF;
	color: #000;
}
.contribuer::before	{
	color: #FFF;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -.3em;
}
.contribuer::before,
#mdemploi::before	{
	content: "X";
	font-size: 14px;
	padding: .2em .4em;
}



/* structure : données visualisées */
.visu-datas	{
	margin: .5em 0 1em 0;
	position: relative;
	text-align: center;
}
/*.key #dernier	{
	display: none;
}
*/
.visu-datas label,
.croiser	{
	border: 1px solid #99A;
	border-right-width: 0;
	border-radius: .25em;
	color: #445;
	font-size: .9em;
	font-weight: bold;
	padding: .05em .33em 0 .5em;
}
.reset,
.effacement	{
	background: #FFF;
	border: 2px solid #99A;
	border-radius: .5em;
	cursor: pointer;
	font-size: .85em;
	padding: .2em .4em;
	position: absolute;
	top: .15em;
}
.reset	{
	left: 0;
}
.effacement	{
	display: none;
	right: 0;
}
.reset:hover,
.reset:focus,
.effacement:hover,
.effacement:focus	{
	background: #445;
	color: #E7E7FF;
}
.effacement.in	{
	display: inherit;
}
#synthese	{
	color: #BBC;
	font-size: .85em;
	font-weight: bold;
	margin-top: .66em;
	padding: .33em;
	text-align: center;
}
#synthese a	{
	color: #BBC;
}







/* "interface" */
div input	{
	margin: .3em .4em;
}
thead input	{
	margin: .3em .75em .3em .4em;
}
#liste91	{
	margin-right: 2em;
}
th input	{
	margin: 0 .4em .3em .4em;
}
table:not(.axes) thead [for="liste93"],
table:not(.axes) thead #liste93	{
	display: none;
}
[name="commun"]	{
	float: right;
}
#intersection	{
	background: transparent;
	border: 1px solid #445;
	margin: 0 0 -.5em 2em;
	padding-left: .8em;
}
#intersection option	{
}
.colonne #intersection	{
	margin: .5em 0;
}

/* "interface" : boîte de sélection d'analyse */
#croiser	{
	margin-right: 3.6em;
}
.colonne .croiser	{
	border-right-width: 1px;
	/*display: run-in;*/
	padding: .1em .33em;
}
.colonne #croiser	{
	display: block;
	margin: .75em auto;
}



/* "interface" : tableau */
table	{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #FFF;
	border-collapse: separate;
	border-spacing: 0;
	box-shadow: 0 -.33em .33em #BBC;
	margin: 1.6em auto 0 auto;
	table-layout: auto;
	text-align: right;
}
th,
td	{
	vertical-align: top;
}

thead	{
	background: #889;
}
thead td	{
	box-shadow: 0 0 0 1px #667;
	padding: .75em .66em;
	text-align: left;
}






























thead tr:first-child td	{
	background: #F5F5F5;
	border-bottom: 1px solid #667;
	border-radius: .75em .75em 0 0;
}
.colonne thead td	{
	text-align: center;
}
thead tr:nth-child(2) td	{
	background: #FFF;
	border-bottom: 2px solid #667;
}









































































































































































































































tbody	{
	box-shadow: 1px 2px #D9D9D9;
}
tbody tr	{
	outline: 1px solid #667;
}
th	{
	padding: .33em .66em .66em .66em;
	text-align: left;
	width: 12em;
}
.nb1,
.nb2	{
	float: right;
	font-size: .8em;
	text-align: center;
	width: 2em;
}
.nb1	{
	background: #FFF;
	border-radius: 2em;
	font-weight: normal;
	padding: .2em;
}
.nb2	{
	border: 1px solid #FFF;
	border-width: 0 1px;
	color: #FFF;
	cursor: vertical-text;
	margin: .2em 1em 0 0;
}
.colonne .nb1	{
	clear: right;
}
#aideUtilisation .nb1,
#aideUtilisation .nb2	{
	display: inline-block;
	float: none;
	font-size: .9em;
	padding: 0;
}
#aideUtilisation .nb1	{
	color: #000;
}
#aideUtilisation .nb2	{
	margin: 0;
}
.label	{
	background: #FFF;
	border-radius: .2em;
	display: inline-block;
	font-size: .85em;
	font-weight: bold;
	line-height: 1.2;
	padding: .25em .25em .1em .25em;
	position: relative;
	text-align: right;
	width: 100%;
}
.axe .label,
table:not(.axes) .axe .nb1	{
	background: #B00;
	color: #FFF;
}
tbody td	{
	border: 1px solid #D9D9D9;
	border-width: 1px 0 0 1px;
	font-family: Georgia;
	height: 5.636em;
	font-size: 1.1em;
	padding: 1.45em .227em 0 0;
	width: 4em;
}


tbody td:not(:empty)::before	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FFF;
	border-style: solid;
	border-width: 1px;
	border-radius: .5em;
	color: #000!important;
	content: attr(data-item);
	float: left;
	font-family: Arial;
	font-size: .6em;
	font-weight: normal;
	margin-top: -2.4em;
	text-align: center;
	text-shadow: none!important;
	padding-bottom: .1em;
	width: 2.66em;
}

.absent:not(.intersection) .label,
.absent:not(.intersection) .nb1,
.absent:not(.intersection) .nb2	{
	opacity: .25;
}

.absent [type='radio'],
.present [type='radio'],
.axes tbody tr [type='radio']	{
	display: none;
}





table.colonne::after	{
	clear: both;
	content: " ";
	display: block;
}
.colonne tbody tr	{
	float: left;
}
.colonne th,
.colonne tbody td	{
	display: block;
	height: 6.81em;
	vertical-align: middle;
	width: 7em;
}
.colonne th	{
	height: 8.4em;
	width: 7.7em;
}
.colonne tbody td	{
	height: 5.6em;
	padding: 1.2em 2em 0 0;
}
.colonne tbody td:not(:empty)::before	{
	margin-top: -1.59em;
}




/*
#C96;
#BCB;
#E96;
#BBE;
#ED5;
#AD7;
*/



tr:nth-child(1) th	{
	background: #C96;
}
tbody tr:nth-child(1) td::before	{
	border-color: #C96;
	box-shadow: .8em 0 #C96;
}
.axes tr:nth-child(1) .visible::before	{
	box-shadow: .8em 0 #C96, 1.3em 0 #B00;
}
.axe1 td.visible::before,
.axe:nth-child(1) td:not(.secondaire)::before	{
	background: #C96;
	border-color: #C96;
	box-shadow: .8em 0 #C96, 1.9em 0 #B00;
}
tbody tr:nth-child(1) td:not(:empty)	{
	box-shadow: 0 -2.5em #FFF inset, 0 -3em #C96 inset;
}
tr:nth-child(1) .label span	{
	color: #C96;
}


tr:nth-child(2) th	{
	background: #BCB;
}
tbody tr:nth-child(2) td::before	{
	border-color: #BCB;
	box-shadow: .8em 0 #BCB;
}
.axes tr:nth-child(2) .visible::before	{
	box-shadow: .8em 0 #BCB, 1.3em 0 #B00;
}
.axe2 td.visible::before,
.axe:nth-child(2) td:not(.secondaire)::before	{
	background: #BCB;
	border-color: #BCB;
	box-shadow: .8em 0 #BCB, 1.9em 0 #B00;
}
tbody tr:nth-child(2) td:not(:empty)	{
	box-shadow: 0 -2em #FFF inset, 0 -2.5em #BCB inset;
}
tr:nth-child(2) .label span	{
	color: #BCB;
}


tr:nth-child(3) th	{
	background: #E96;
}
tr:nth-child(3) td::before	{
	border-color: #E96;
	box-shadow: .8em 0 #E96;
}
.axes tr:nth-child(3) .visible::before	{
	box-shadow: .8em 0 #E96, 1.3em 0 #B00;
}
.axe3 td.visible::before,
.axe:nth-child(3) td:not(.secondaire)::before	{
	background: #E96;
	border-color: #E96;
	box-shadow: .8em 0 #E96, 1.9em 0 #B00;
}
tr:nth-child(3) td:not(:empty)	{
	box-shadow: 0 -1.5em #FFF inset, 0 -2em #E96 inset;
}
tr:nth-child(3) .label span	{
	color: #E96;
}


tr:nth-child(4) th	{
	background: #BBE;
}
tr:nth-child(4) td::before	{
	border-color: #BBE;
	box-shadow: .8em 0 #BBE;
}
.axes tr:nth-child(4) .visible::before	{
	box-shadow: .8em 0 #BBE, 1.3em 0 #B00;
}
.axe4 td.visible::before,
.axe:nth-child(4) td:not(.secondaire)::before	{
	background: #BBE;
	border-color: #BBE;
	box-shadow: .8em 0 #BBE, 1.9em 0 #B00;
}
tr:nth-child(4) td:not(:empty)	{
	box-shadow: 0 -1em #FFF inset, 0 -1.5em #BBE inset;
}
tr:nth-child(4) .label span	{
	color: #BBE;
}


tr:nth-child(5) th	{
	background: #ED5;
}
tr:nth-child(5) td::before	{
	border-color: #ED5;
	box-shadow: .8em 0 #ED5;
}
.axes tr:nth-child(5) .visible::before	{
	box-shadow: .8em 0 #ED5, 1.3em 0 #B00;
}
.axe5 td.visible::before,
.axe:nth-child(5) td:not(.secondaire)::before	{
	background: #ED5;
	border-color: #ED5;
	box-shadow: .8em 0 #ED5, 1.9em 0 #B00;
}
tr:nth-child(5) td:not(:empty)	{
	box-shadow: 0 -.5em #FFF inset, 0 -1em #ED5 inset;
}
tr:nth-child(5) .label span	{
	color: #ED5;
}


tr:nth-child(6) th	{
	background: #AD7;
}
tr:nth-child(6) td::before	{
	border-color: #AD7;
	box-shadow: .8em 0 #AD7;
}
.axes tr:nth-child(6) .visible::before	{
	box-shadow: .8em 0 #AD7, 1.3em 0 #B00;
}
.axe6 td.visible::before,
.axe:nth-child(6) td:not(.secondaire)::before	{
	background: #AD7;
	border-color: #AD7;
	box-shadow: .8em 0 #AD7, 1.9em 0 #B00;
}
tr:nth-child(6) td:not(:empty)	{
	box-shadow: 0 -.5em #AD7 inset;
}
tr:nth-child(6) .label span	{
	color: #AD7;
}








/* visualisation des analyses au niveau des <th */

.passage	{
	box-shadow: 0 .5em .6em .4em #CBB inset;
}
.visite	{
	box-shadow: 0 .5em .75em .15em #99A inset;
}

.passage .label	{
	box-shadow: -3em 0 #99A, .8em 0 #99A;
}

.colonne .intersection .label	{
	box-shadow: -.8em 0 #DDE, .8em 0 #DDE;
}
.colonne .visite .label	{
	box-shadow: -.8em 0 #99A, .8em 0 #99A;
}

.intersection .label::after	{
	background: #FFF;
	border: 1px solid #99A;
	border-radius: 4px;
	color: #000!important;
	content: attr(data-intersection);
	font-weight: normal;
	left: -.3em;
	padding: .2em;
	position: absolute;
	text-align: center;
	top: 3em;
	width: 100%;
}
.colonne .intersection .label::after	{
	top: 3.4em;
}
.visite .label:after	{
	background: #99A;
	border: 1px solid #BBC;
	color: #FFF!important;
	font-weight: bold;
}





/* visualisation des analyses au niveau des <td */

/*
#C96;
#BCB;
#E96;
#BBE;
#ED5;
#AD7;
*/

.intersectionD2:nth-child(1) .multi,
.intersectionD3:nth-child(1) .diasection	{
	background: linear-gradient(#99A, #99A 1em, #C96 1em, #C96 100%);
}
.intersectionD2:nth-child(2) .multi,
.intersectionD3:nth-child(2) .diasection	{
	background: linear-gradient(#99A, #99A 1em, #BCB 1em, #BCB 100%);
}
.intersectionD2:nth-child(3) .multi,
.intersectionD3:nth-child(3) .diasection	{
	background: linear-gradient(#99A, #99A 1em, #E96 1em, #E96 100%);
}
.intersectionD2:nth-child(4) .multi,
.intersectionD3:nth-child(4) .diasection	{
	background: linear-gradient(#99A, #99A 1em, #BBE 1em, #BBE 100%);
}
.intersectionD2:nth-child(5) .multi,
.intersectionD3:nth-child(5) .diasection	{
	background: linear-gradient(#99A, #99A 1em, #ED5 1em, #ED5 100%);
}
.intersectionD2:nth-child(6) .multi,
.intersectionD3:nth-child(6) .diasection	{
	background: linear-gradient(#99A, #99A 1em, #AD7 1em, #AD7 100%);
}


.intersexion1	{
	background: linear-gradient(#C96, #C96 100%);
}
.intersexion2	{
	background: linear-gradient(#BCB, #BCB 100%);
}
.intersexion3	{
	background: linear-gradient(#E96, #E96 100%);
}
.intersexion4	{
	background: linear-gradient(#BBE, #BBE 100%);
}
.intersexion5	{
	background: linear-gradient(#ED5, #ED5 100%);
}
.intersexion6	{
	background: linear-gradient(#AD7, #AD7 100%);
}









/* extension et analyse */

	/* intersection : */
.axe td:not(:last-child)	{
	border-right: 1px solid #FAA;
	color: #D00;
}
.axe .secondaire,
.axe td:empty{
	opacity: .5;
}
.present td:not(.visible),
.absent td	{
	opacity: .25;
}
#crutch .axe td:not(.secondaire)::before,
table:not(.axes) .visible::before	{
	color: #FFF!important;
}
/*.crutch td.visible::before	{
	border-color: #F00;
	box-shadow: .8em 0 #B00;
}
*/
	/* analyse : */
#crutch .intersection td:not(:empty),
#crutch .diasection,
#crutch .intersexion	{
	opacity: 1;
}
#crutch .intersectionD2 .multi,
#crutch .diasection,
#crutch .intersexion	{
	color: #FFF;
}

.intersection td	{
	text-shadow: 0 0 1px #000;
}
.intersection.axe td	{
	text-shadow: 0 0 1px #D00;
}
#crutch .intersectionD2 .multi,
#crutch .intersection .diasection	{
	text-shadow: 0 0 1px #FFF;
}



/* largeur des intersections */
#crutch .largeur,
#crutch .largeurs .multi	{
	background: #B00;
	color: #FFF;
	opacity: 1;
}
