/* bases */
*	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html	{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	height: 100%;
}
body	{
	background: #FFF;
	color: #000;
	line-height: 1;
	min-height: 100%;
}
body:before,
body:after,
.floor:after,	{
	content: " ";
	display: table;
}
body:after,
.floor:after	{
	clear: both;
}




/* generique */
html, body, h1, h2, p, form, input,
table, caption, tbody, tfoot, thead, tr, th, td	{
	margin: 0;
	padding: 0;
}
address	{
	display: inline;
}
input	{
	color: inherit;
	font: inherit;
	font-size: 100%;
	line-height: normal;
}
input[type="checkbox"],
input[type="radio"]	{
	box-sizing: border-box;
	padding: 0;
}
label,
input	{
	vertical-align: middle;
}
span,
a	{
	vertical-align: baseline;
}



/* communs */
a	{
	background: transparent;
	color: #000;
	text-decoration: underline;
}
a:focus	{
	outline: thin dotted;
	text-decoration: none;
}
a:active,
a:hover	{
	outline: 0;
	text-decoration: none;
}
h1,
p,
form + div	{
	line-height: 1.6;
}
p em	{
	display: inline-block;
}
h1	{
	background: #F5F5F5;
	font-family: Courier;
	font-size: 1.2em;
	font-weight: normal;
	padding-left: 1em;
}
h1 span	{
	background: #F5F5F5;
	position: relative;
	z-index: 22;
}
h2	{
	border-top: 1px solid #445;
	color: #445;
	font-size: 1.1em;
	padding-top: .5em;
	text-align: center;
}
h2 span	{
	font-weight: bold;
}

header	{
	border-bottom: 2px solid #F5F5F5;
}
header p,
header p a	{
	color: rgba(68, 68, 85, .5);
	font-style: italic;
	text-align: center;
}
header p:hover,
header p:hover a,
header p a:focus	{
	color: #000;
	font-style: normal;
}
form	{
	font-family: Arial;
	margin: 0 1em 1em 1em;
}
form > div > label	{
	background: #FFF;
}
footer	{
	font-size: .85em;
	padding: 1em 2em;
}


/* structure */
.interaction	{
	box-shadow: -.5em 0 #FFF, -1em 0 #AAB, .5em 0 #FFF, 1em 0 #AAB;
	min-height: 3em;
	padding: .6em 0;
}
.interaction > p	{
	float: left;
	width: 50%;
}
.analyse input	{
	margin-right: 2em;
}
.presentation	{
	text-align: right;
}
.modifier	{
	border-left: 1px solid #445;
	font-size: .85em;
	padding-left: 1em;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
	z-index: 21;
}
#modifier	{
	cursor: pointer;
}
#aidePersonnalisation	{
	cursor: help;
	padding-right: .25em;
}
.visu-datas	{
	margin-bottom: 1em;
	text-align: center;
	position: relative;
	z-index: 30;
}
.visu-datas label	{
	background: #778;
	color: #FFF;
	padding: 0 .33em;
}



/* aide sur la contribution */
.contribuer	{
	background: #FFF;
	border-radius: 1em;
	box-shadow: -.05em 0 .05em #406, -4em 0 4em rgba(68, 0, 102, .1);
	cursor: zoom-out;
	font-size: 1.15em;
	line-height: 2;
	padding: 1em;
	position: absolute;
	right: 0em;
	text-align: right;
	top: 2em;
	width: 30em;
	white-space: normal;
	z-index: 24;
}
.modifier .contribuer:before	{
	background: transparent;
	position: absolute;
	right: 0;
	top: -.3em;
}
.contribuer:before,
#mdemploi:before	{
	background: #FFF;
	content: "X";
	color: #000;
	display: inline-block;
	font-size: 14px;
	padding: .2em .4em;
}



/* zones informatives */
.info	{
	position: relative;
}
.info:after	{
	content: " ";
	display: table;
	clear: both;
}
.info div	{
	font-size: .9em;
}


/* mode d'emploi */
#aideUtilisation	{
	background: #FFF;
	border-radius: 5px;
	box-shadow: -.05em 0 .05em #406, -4em 0 4em rgba(68, 0, 102, .1);
	float: right;
	margin-top: -5.4em;
	padding: 1em 0;
	position: relative;
	white-space: nowrap;
	z-index: 12;
}
#aideUtilisation.nulle	{
	display: none;
}
#aideUtilisation.sans	{
	background: #F0F0FF;
	border-radius: 0;
	box-shadow: -.15em 0 #445;
	font-size: .85em;
	margin: 0 0 1em 0;
	opacity: .66;
	text-align: center;
	z-index: 1;
}
#aideUtilisation.sans:hover,
#aideUtilisation.sans:focus	{
	background: #FFF;
	opacity: 1;
}
#aideUtilisation p:first-child	{
	padding: 0 .3em;
}
#aideUtilisation p:first-child strong	{
	color: #445;
}
#aideUtilisation.sans p:first-child strong	{
	color: #000;
	font-weight: normal;
}
#mdemploi	{
	color: #FFF;
	font-size: 0;
	position: absolute;
	right: 0;
	top: -5em;
}
.sans #mdemploi	{
	color: #000;
	font-size: 1em;
	position: inherit;
}
.sans #mdemploi:before	{
	background: transparent;
	content: "";
}
#aideUtilisation p:first-child em	{
	display: block;
}
#aideUtilisation.sans p:first-child em	{
	display: none;
}
.info #aideUtilisation p + p:last-child	{
	height: 1.7em;
}



/* animation contextuelle */
/*.init #aideUtilisation,
.init #meta	{
	opacity: 0;
} */
#aideUtilisation,
#aideUtilisation p + p,
body:not(.init) #meta p	{
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#aideUtilisation {
		-webkit-transition: none;
		transition: none;
	}
}
#aideUtilisation p + p,
#meta p	{
	opacity: 1;
	height: 4.5em;
	padding: .5em .3em 0 .66em;
}
.info #aideUtilisation.sans p + p,
#meta.sans p	{
	opacity: 0;
	height: 0;
	margin: 0;
	padding-top: 0;
	width: 0;
}



/* analyse */
#meta	{
	box-shadow: 0 0 0 .5em #FFF, -.5em 0 .15em #445;
	float: left;
	font-size: .8em;
	white-space: pre;
	width: .2em;
}
#meta.sans	{
	box-shadow: none;
}
#meta p	{
	height: 3.1em;
	margin-bottom: .33em;
	padding: 0;
}
#meta p:first-child	{
	height: 1.6em;
}
#meta .limite	{
	height: 4.4em;
	overflow-x: auto;
	width: 30em;
}
#meta strong	{
	color: #445;
}
#meta label	{
	/*background: rgba(68, 0, 102, .125);*/
	background: #F0F0FF;
	border-radius: 0 0 10em 0;
	cursor: pointer;
	display: block;
	line-height: 1.3;
	opacity: .6;
	padding-bottom: .2em;
	text-align: center;
	position: relative;
	width: 30em;
	z-index: 10;
}
#meta label:hover,
#meta label:focus	{
	opacity: .85;
}
#meta.sans label	{
	display: none;
}



/* popin et éléments contextuels */
.message	{
	background: #445;
	border-radius: 1em;
	box-shadow: 0 0 0 100em rgba(68, 68, 85, .5);
	color: #FFF;
	cursor: zoom-out;
	left: 50%;
	margin-left: -22vw;
	padding: 3em;
	position: absolute;
	text-align: center;
	top: 10em;
	width: 44vw;
	z-index: 50000;
}
.message em	{
	display: block;
	font-size: .9em;
	margin-top: 1.4em;
}
.message:focus	{
	outline: 0;
}

.fermeture	{
	bottom: 0;
	left: -4444em;
	position: absolute;
}
.fermeture:focus	{
	left: auto;
	right: .2em;
}

.message .fermeture:focus	{
	color: #FFF;
	outline: 0;
	right: 1em;
}



/* "interface" */
div input	{
	margin: .3em .4em;
}
[colspan] input	{
	margin: .3em 2em .3em .4em;
}
th input	{
	margin: 0 .4em .3em .4em;
}
table:not(.axes) [colspan] [for="liste93"],
table:not(.axes) [colspan] #liste93,
.axes.colonne [for="liste92"]	{
	display: none;
}
[name="commun"]	{
	float: right;
}


table	{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-collapse: separate;
	border-spacing: 0;
	box-shadow: 1px 1px #D9D9D9;
	margin-top: .5em;
	table-layout: auto;
	text-align: right;
}
th,
td	{
	border: 1px solid #D9D9D9;
	border-width: 1px 0 0 1px;
	height: 6.2em;
	padding: .66em;
	vertical-align: top;
}
table:not(.colonne) th,
table:not(.colonne) tr + tr td	{
	border-top: 2px solid #BBB;
}
th	{
	padding-top: .2em;
	text-align: left;
	width: 12em;
}
th label	{
	background: #FFF;
	border-radius: .2em;
	cursor: pointer;
	display: inline-block;
	font-size: .85em;
	line-height: 1.2;
	padding: .25em .25em .1em .25em;
	text-align: right;
	width: 100%;
}
tr + tr td	{
	font-family: Courier;
	font-weight: bold;
	padding: 1.6em .25em 0 0;
	width: 4em;
}
td[colspan]	{
	background: #F5F5F5;
	height: auto;
	text-align: left;
	width: auto;
}


tr + tr td:not(:empty)::before	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-radius: .5em;
	color: #000;
	content: attr(data-item);
	float: left;
	font-family: Arial;
	font-size: .75em;
	font-weight: normal;
	margin-top: -2.13em;
	text-align: center;
	padding-bottom: .1em;
	width: 2.66em;
}
.axe td:not(:empty)::before	{
	color: #FFF;
}
tr.present td:not(:empty)::before	{
	border-width: 2px;
}

.secondaire	{
	color: #CCC;
}
.absent label	{
	opacity: .25;
}

.axe th,
.axe td	{
	color: #C00;
}



.absent [type='radio'],
.present [type='radio'],
.axes tr + tr [type='radio'],
.absent td::before,
.present td:not(.visible)::before,
.axes td.secondaire::before	{
	display: none;
}
.absent td,
.present td:not(.visible),
.axes td.secondaire	{
	box-shadow: none!important;
	color: #FFF;
}


table.colonne::after	{
	clear: both;
	content: " ";
	display: block;
}


.colonne tr + tr + tr th,
.colonne tr + tr + tr td	{
	border-left: 2px solid #BBB;
}
.colonne th,
.colonne tr + tr td	{
	height: 7.5em;
	vertical-align: middle;
	width: 7em;
}
.colonne tr + tr td	{
	height: 5.6em;
}
.colonne tr + tr	{
	float: left;
}
.colonne tr + tr th,
.colonne tr + tr td	{
	display: block;
}
.colonne tr + tr td	{
	padding: 1.2em .66em 0 0;
}
.colonne tr + tr td:not(:empty)::before	{
	margin-top: -1.59em;
}



tr.axe:nth-child(2) td:not(:empty)::before,
tr:nth-child(2) th	{
	background: #C96;
}
tr:nth-child(2) td::before	{
	border-color: #C96;
}
tr:nth-child(2) td:not(:empty)	{
	box-shadow: 0 -2.5em #FFF inset, 0 -3em #C96 inset;
}


tr.axe:nth-child(3) td:not(:empty)::before,
tr:nth-child(3) th	{
	background: #BCB;
}
tr:nth-child(3) td::before	{
	border-color: #BCB;
}
tr:nth-child(3) td:not(:empty)	{
	box-shadow: 0 -2em #FFF inset, 0 -2.5em #BCB inset;
}


tr.axe:nth-child(4) td:not(:empty)::before,
tr:nth-child(4) th	{
	background: #E96;
}
tr:nth-child(4) td::before	{
	border-color: #E96;
}
tr:nth-child(4) td:not(:empty)	{
	box-shadow: 0 -1.5em #FFF inset, 0 -2em #E96 inset;
}


tr.axe:nth-child(5) td:not(:empty)::before,
tr:nth-child(5) th	{
	background: #BBE;
}
tr:nth-child(5) td::before	{
	border-color: #BBE;
}
tr:nth-child(5) td:not(:empty)	{
	box-shadow: 0 -1em #FFF inset, 0 -1.5em #BBE inset;
}


tr.axe:nth-child(6) td:not(:empty)::before,
tr:nth-child(6) th	{
	background: #ED5;
}
tr:nth-child(6) td::before	{
	border-color: #ED5;
}
tr:nth-child(6) td:not(:empty)	{
	box-shadow: 0 -.5em #FFF inset, 0 -1em #ED5 inset;
}


tr.axe:nth-child(7) td:not(:empty)::before,
tr:nth-child(7) th	{
	background: #AD7;
}
tr:nth-child(7) td::before	{
	border-color: #AD7;
}
tr:nth-child(7) td:not(:empty)	{
	box-shadow: 0 -.5em #AD7 inset;
}